@import "tailwindcss";

:root {
  --fondo: #fef9ed;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-fondo: var(--fondo);

  --color-brand-azul: #094780;
  --color-brand-rojo: #bd1734;
  --color-brand-dorado: #cea55b;

  --font-barrio: var(--font-barrio);
  --font-barriecito: var(--font-barriecito);
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
  --font-roboto-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --fondo: var(--color-brand-azul); */
  }
}

body {
  background: var(--fondo);
}
